
.navbar-right li.loader {
    margin: 12px 24px 0 6px;
}
.navbar{
    @include clearfix;
    background-color:#e8e8e8;
    border-bottom:1px solid #ccc;
    position:fixed;
    width:100%;
}
.navbar-header{
    float:left;
}
.navbar-toggle{
    border-radius:0;
    background-color:#e8e8e8;
    border-right:1px solid #ccc;
    color:#444;
}
.navbar-collapse{
    float:left;
}
.navbar-nav{
    @include clearfix;
    li{
        display:inline-block;
    }
    a{
        display:block;
        line-height:2.25rem;
        padding:0 0 0 0.7rem;
    }
}
.navbar-right{
    float:right;
}